extends ../partials/head
block content 
  .all-main-wrapper 
    .header-main-wrapper 
    .inner-main-wrapper
      div 
        div 
          .node-map-main-wrapper
            .node-map-main-content
              include ../partials/worldMap.html