extends ../partials/head
block content 
  .all-main-wrapper 
    .header-main-wrapper 
    .inner-main-wrapper
      .query-main-wrapper
        .general-title-description-wrapper
          h3 Node101 | CosmosHub Validator Timeline
          p Node101's journey as a CosmosHub validator, detailing key milestones, challenges, and achievements. This timeline highlights their evolution, contributions, and impact within the Cosmos ecosystem.
          div(style='font-size: 10px; color: rgb(255,255,255,0.5)') 
            div for demo:
            div cosmosvaloper103agss48504gkk3la5xcg5kxplaf6ttnuv234h
            div case1 0, 10
            div case2 900000000000, 990000000000
            div case3 24650515, 900000000000
            div case4 0, 24650515
            div case5 24650415, 24650520
            div case6 0, 900000000000
        .date-picker
          .selected-range 
            span.date-interval-description 
              include ../icons/calendar.pug
              span All time
            span.date-range Feb 1, 2019 - Jan 30, 2023
            .dropdown-icon
              include ../icons/chevron.pug
          .picker-main-wrapper
            .picker-content-wrapper
              .left-wrapper
                .dropdown
                  ul
                    li.left-wrapper-each-choice(class='selected') All time
                      span.center#left-wrapper-selected-check-mark
                        include ../icons/check.pug
                    li.left-wrapper-each-choice This week
                    li.left-wrapper-each-choice Last week
                    li.left-wrapper-each-choice Last 7 days
                    li.left-wrapper-each-choice Last 30 days
                    li.left-wrapper-each-choice Last 90 days
                    li.left-wrapper-each-choice This year (Jan - Today)
                    li.left-wrapper-each-choice Last calendar year
                    li.left-wrapper-each-choice Custom
              .calendar-wrapper
                .calendar
                  div(style='font-size: 10px; margin-bottom: 5px;') Time frame
                  .date-input
                    input(type='date' id='periodic-query-bottom-timestamp')
                    span —
                    input(type='date' id='periodic-query-top-timestamp')
                  .days(class='days-header-wrapper')
                    each day in [ 'M', 'T', 'W', 'T', 'F', 'S', 'S' ]
                      span.day= day
                  .days
                    each date in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
                      span.date(class='center')= date
            .buttons
              .cancel Cancel
              .apply
                span Apply
                include ../icons/check.pug
        .query-input-wrapper-header 
          select.general-select-content#query-search-by
            option(value='block_height') Block Height
            option(value='timestamp') Timestamp
        .query-main-wrapper-input-wrapper
          .each-input-wrapper 
            span Validator operator_address
            input(type='text' id='periodic-query-operator-address' placeholder='cosmosvaloper1...')
          .each-input-wrapper(class='query-block-height-input')
            span Bottom block_height
            input(type='number' id='periodic-query-bottom-block-height')
          .each-input-wrapper(class='query-block-height-input')
            span Top block_height
            input(type='number' id='periodic-query-top-block-height')

        .query-main-wrapper-result-content
          .submit-button#query-submit-button(style='color: var(--color-dark-violet); background-color: var(--color-powder-blue)') Get data
          ul 
            li
              span Total self_stake: 
              span#query-total-self-stake-result-content 0
              span  ATOM
            li
              span Total withdraw: 
              span#query-total-withdraw-result-content 0
              span  ATOM
          .general-single-line-request-result-display-content#general-single-line-request-result-display-content