svg(width='7' height='8' viewbox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M3.5 6.74268L0.671573 3.91425L3.5 1.08582' stroke='#E8E8FF' stroke-linecap='round' stroke-linejoin='round')
