.mobile-animate-star(class='mobile-orbit-1')
.mobile-animate-star(class='mobile-orbit-2')
.mobile-animate-star(class='mobile-orbit-3')
.mobile-animate-star(class='mobile-orbit-4')
.mobile-animate-star(class='mobile-orbit-5')
.mobile-animate-star(class='mobile-orbit-6')
svg(viewbox='0 0 376 353' fill='none' xmlns='http://www.w3.org/2000/svg')
  mask#mask0_950_10881(style='mask-type:alpha' maskunits='userSpaceOnUse' x='-203' y='0' width='787' height='353')
    rect(x='-202.208' y='0.621582' width='785.332' height='352.342' fill='url(#paint0_radial_950_10881)')
  g(mask='url(#mask0_950_10881)')
    path(class='mobile-ellipse-1 ellipse-left' d='M405.632 338.73C524.472 338.73 620.811 265.752 620.811 175.728C620.811 85.7042 524.472 12.7256 405.632 12.7256C286.792 12.7256 190.453 85.7042 190.453 175.728C190.453 265.752 286.792 338.73 405.632 338.73Z' stroke='url(#paint1_linear_950_10881)' stroke-miterlimit='10')
    path(class='mobile-ellipse-2 ellipse-left' d='M334.912 339.188C453.752 339.188 550.091 266.21 550.091 176.186C550.091 86.1622 453.752 13.1836 334.912 13.1836C216.072 13.1836 119.733 86.1622 119.733 176.186C119.733 266.21 216.072 339.188 334.912 339.188Z' stroke='url(#paint2_linear_950_10881)' stroke-miterlimit='10')
    path(class='mobile-ellipse-1 ellipse-left' d='M238.202 339.188C357.042 339.188 453.381 266.21 453.381 176.186C453.381 86.1622 357.042 13.1836 238.202 13.1836C119.362 13.1836 23.0234 86.1622 23.0234 176.186C23.0234 266.21 119.362 339.188 238.202 339.188Z' stroke='url(#paint3_linear_950_10881)' stroke-miterlimit='10')
    path(class='mobile-ellipse-2 ellipse-left' d='M141.493 339.188C260.333 339.188 356.672 266.21 356.672 176.186C356.672 86.1622 260.333 13.1836 141.493 13.1836C22.6529 13.1836 -73.686 86.1622 -73.686 176.186C-73.686 266.21 22.6529 339.188 141.493 339.188Z' stroke='url(#paint4_linear_950_10881)' stroke-miterlimit='10')
    path(class='mobile-ellipse-1 ellipse-right' d='M44.7834 339.188C163.623 339.188 259.962 266.21 259.962 176.186C259.962 86.1622 163.623 13.1836 44.7834 13.1836C-74.0566 13.1836 -170.396 86.1622 -170.396 176.186C-170.396 266.21 -74.0566 339.188 44.7834 339.188Z' stroke='url(#paint5_linear_950_10881)' stroke-miterlimit='10')
    path(class='mobile-ellipse-2 ellipse-right' d='M-25.3308 339.188C93.5092 339.188 189.848 266.21 189.848 176.186C189.848 86.1622 93.5092 13.1836 -25.3308 13.1836C-144.171 13.1836 -240.51 86.1622 -240.51 176.186C-240.51 266.21 -144.171 339.188 -25.3308 339.188Z' stroke='url(#paint6_linear_950_10881)' stroke-miterlimit='10')
    path(class='mobile-ellipse-1 ellipse-right' d='M-240.498 176.186L621.427 175.279' stroke='url(#paint7_linear_950_10881)' stroke-miterlimit='10')
  defs
    radialgradient#paint0_radial_950_10881(cx='0' cy='0' r='1' gradientunits='userSpaceOnUse' gradienttransform='translate(216.305 352.963) rotate(-90.6981) scale(463.869 1034.63)')
      stop(stop-color='white')
      stop(offset='0.18916' stop-color='#C0C0F2')
      stop(offset='0.546512' stop-color='#609AFF')
      stop(offset='1')
    lineargradient#paint1_linear_950_10881(x1='405.632' y1='12.7256' x2='405.632' y2='338.73' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint2_linear_950_10881(x1='334.912' y1='13.1836' x2='334.912' y2='339.188' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint3_linear_950_10881(x1='238.202' y1='13.1836' x2='238.202' y2='339.188' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint4_linear_950_10881(x1='141.493' y1='13.1836' x2='141.493' y2='339.188' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint5_linear_950_10881(x1='44.7834' y1='13.1836' x2='44.7834' y2='339.188' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint6_linear_950_10881(x1='-25.3308' y1='13.1836' x2='-25.3308' y2='339.188' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint7_linear_950_10881(x1='627.792' y1='176.181' x2='-240.498' y2='175.469' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='0.195003' stop-color='#D0D0D0' stop-opacity='0')
      stop(offset='1' stop-color='white')
    lineargradient#paint8_linear_950_10881(x1='129.929' y1='59.7925' x2='129.929' y2='68.0133' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='0.495192' stop-color='#D0D0D0' stop-opacity='0')
      stop(offset='1' stop-color='white')
