.animate-star(class='mobile-animate-star orbit-7')
.animate-star(class='mobile-animate-star orbit-8')
.animate-star(class='mobile-animate-star orbit-9')
.animate-star(class='mobile-animate-star orbit-10')
.animate-star(class='mobile-animate-star orbit-11')
.animate-star(class='mobile-animate-star orbit-12')
svg(width='786' height='354' viewbox='0 0 786 354' fill='none' xmlns='http://www.w3.org/2000/svg')
  mask#mask0_1048_213(style='mask-type:alpha' maskunits='userSpaceOnUse' x='0' y='0' width='786' height='354')
    rect(x='0.667969' y='0.782715' width='785.332' height='352.342' fill='url(#paint0_radial_1048_213)')
  g(mask='url(#mask0_1048_213)')
    path(d='M608.507 338.891C727.347 338.891 823.686 265.913 823.686 175.889C823.686 85.8653 727.347 12.8867 608.507 12.8867C489.667 12.8867 393.328 85.8653 393.328 175.889C393.328 265.913 489.667 338.891 608.507 338.891Z' stroke='url(#paint1_linear_1048_213)' stroke-miterlimit='10')
    path(d='M537.788 339.349C656.628 339.349 752.967 266.371 752.967 176.347C752.967 86.3233 656.628 13.3447 537.788 13.3447C418.948 13.3447 322.609 86.3233 322.609 176.347C322.609 266.371 418.948 339.349 537.788 339.349Z' stroke='url(#paint2_linear_1048_213)' stroke-miterlimit='10')
    path(d='M441.078 339.349C559.918 339.349 656.257 266.371 656.257 176.347C656.257 86.3233 559.918 13.3447 441.078 13.3447C322.238 13.3447 225.899 86.3233 225.899 176.347C225.899 266.371 322.238 339.349 441.078 339.349Z' stroke='url(#paint3_linear_1048_213)' stroke-miterlimit='10')
    path(d='M344.368 339.349C463.208 339.349 559.547 266.371 559.547 176.347C559.547 86.3233 463.208 13.3447 344.368 13.3447C225.528 13.3447 129.189 86.3233 129.189 176.347C129.189 266.371 225.528 339.349 344.368 339.349Z' stroke='url(#paint4_linear_1048_213)' stroke-miterlimit='10')
    path(d='M247.659 339.349C366.499 339.349 462.838 266.371 462.838 176.347C462.838 86.3233 366.499 13.3447 247.659 13.3447C128.819 13.3447 32.48 86.3233 32.48 176.347C32.48 266.371 128.819 339.349 247.659 339.349Z' stroke='url(#paint5_linear_1048_213)' stroke-miterlimit='10')
    path(d='M177.545 339.349C296.385 339.349 392.724 266.371 392.724 176.347C392.724 86.3233 296.385 13.3447 177.545 13.3447C58.7046 13.3447 -37.6343 86.3233 -37.6343 176.347C-37.6343 266.371 58.7046 339.349 177.545 339.349Z' stroke='url(#paint6_linear_1048_213)' stroke-miterlimit='10')
    path(d='M-37.6221 176.347L824.303 175.44' stroke='url(#paint7_linear_1048_213)' stroke-miterlimit='10')
  defs
    radialgradient#paint0_radial_1048_213(cx='0' cy='0' r='1' gradientunits='userSpaceOnUse' gradienttransform='translate(419.181 353.124) rotate(-90.6981) scale(463.869 1034.63)')
      stop(stop-color='white')
      stop(offset='0.18916' stop-color='#C0C0F2')
      stop(offset='0.546512' stop-color='#609AFF')
      stop(offset='1')
    lineargradient#paint1_linear_1048_213(x1='608.507' y1='12.8867' x2='608.507' y2='338.891' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint2_linear_1048_213(x1='537.788' y1='13.3447' x2='537.788' y2='339.349' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint3_linear_1048_213(x1='441.078' y1='13.3447' x2='441.078' y2='339.349' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint4_linear_1048_213(x1='344.368' y1='13.3447' x2='344.368' y2='339.349' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint5_linear_1048_213(x1='247.659' y1='13.3447' x2='247.659' y2='339.349' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint6_linear_1048_213(x1='177.545' y1='13.3447' x2='177.545' y2='339.349' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='1' stop-color='white' stop-opacity='0.43')
    lineargradient#paint7_linear_1048_213(x1='830.667' y1='176.342' x2='-37.6222' y2='175.63' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='0.195003' stop-color='#D0D0D0' stop-opacity='0')
      stop(offset='1' stop-color='white')
    lineargradient#paint8_linear_1048_213(x1='332.805' y1='59.9536' x2='332.805' y2='68.1744' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='0.495192' stop-color='#D0D0D0' stop-opacity='0')
      stop(offset='1' stop-color='white')
    lineargradient#paint9_linear_1048_213(x1='701.751' y1='169.873' x2='701.751' y2='181.444' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='0.495192' stop-color='#D0D0D0' stop-opacity='0')
      stop(offset='1' stop-color='white')
    lineargradient#paint10_linear_1048_213(x1='195.634' y1='287.667' x2='195.634' y2='299.238' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='0.495192' stop-color='#D0D0D0' stop-opacity='0')
      stop(offset='1' stop-color='white')
    lineargradient#paint11_linear_1048_213(x1='32.1132' y1='291.349' x2='32.1132' y2='302.92' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='0.495192' stop-color='#D0D0D0' stop-opacity='0')
      stop(offset='1' stop-color='white')
    lineargradient#paint12_linear_1048_213(x1='187.083' y1='58.8286' x2='187.083' y2='70.3998' gradientunits='userSpaceOnUse')
      stop(stop-color='white')
      stop(offset='0.495192' stop-color='#D0D0D0' stop-opacity='0')
      stop(offset='1' stop-color='white')
