:root {
  --validator-graph-wrapper-min-width: 100%;
  --validator-graph-wrapper-max-width: 100%;
  --validator-graph-wrapper-height: 330px;
  --validator-graph-wrapper-transition-duration: 0.5s;
  --validator-graph-wrapper-vertical-padding: 10px;
  --validator-graph-wrapper-horizontal-padding: 20px;
  --validator-graph-wrapper-bottom-padding: 10px;

  --validator-graph-wrapper-small-min-width: 80px;
  --validator-graph-wrapper-small-max-width: 80px;
  --validator-graph-wrapper-small-height: 90px;

  --each-data-point-max-width: 10px;
  --each-data-point-min-width: 10px;
  --each-data-point-margin-bottom: -5px;
  --each-data-point-z-index: 32;

  --each-data-line-height: 2px;
  --each-data-line-z-index: 32;
  --each-data-line-transition-duration: 0.25s;

  --horizontal-axis-label-font-size: 16px;
  --horizontal-axis-label-font-weight: 400;
  --horizontal-axis-label-transform-rotate-deg: 0deg;
  --horizontal-axis-label-transition-duration: 0s;
  --horizontal-axis-label-width: 20px;
  --horizontal-axis-label-bottom: -30px;
  --horizontal-axis-label-z-index: 50;

  --horizontal-axis-label-display: block;
  --horizontal-axis-label-compact-display: none;

  --each-data-point-horizontal-label-hovered-font-weight: 800;

  --vertical-axis-labels-width: 100px;
  --vertical-axis-labels-width-int: 100;
  --vertical-axis-labels-border-right-size: 0px;

  --graph-horizontal-axis-color: rgba(124, 112, 195, 0.5);

  --each-vertical-label-font-size: 16px;
  --each-vertical-label-font-weight: 400;
  --each-vertical-label-margin-right: auto;
  --each-vertical-label-width: 40px;
  --each-vertical-label-color: rgba(124, 112, 195, 1);

  --graph-range-paint-bar-opacity: 0.1;
  --each-data-indicator-vertical-line-border-right-size: 1px;
  --each-data-indicator-vertical-line-border-color: rgba(124, 112, 195, 1);
  --each-data-indicator-vertical-line-height: 100%;
  --each-data-indicator-vertical-line-top: 0px;
  --each-data-indicator-vertical-line-left: -1px;
  --each-data-indicator-vertical-line-transition-duration: 0s;
}

.network-summary-network-graph-content {
  width: 100%;
}

.validator-graph-wrapper {
  width: calc(100% - (2 * var(--validator-graph-wrapper-horizontal-padding)));
  height: var(--validator-graph-wrapper-height);
  transition: all var(--validator-graph-wrapper-transition-duration) ease-in-out
    0s;
  padding: 0 var(--validator-graph-wrapper-horizontal-padding);
  padding-bottom: var(--validator-graph-wrapper-bottom-padding);
  overflow: hidden;
  display: flex;
  user-select: none;
  gap: 0;
  position: relative;
}

.validator-graph-wrapper-small {
  min-width: var(--validator-graph-wrapper-small-min-width);
  max-width: var(--validator-graph-wrapper-small-max-width);
  height: var(--validator-graph-wrapper-small-height);
  padding-top: 5px;
  margin-top: -5px;
  user-select: none;
  display: flex;
  gap: 0;
  position: relative;
  overflow: hidden;
}

.each-graph-column-wrapper {
  height: calc(100% - 25px);
  position: relative;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.each-graph-column-wrapper::before,
.column-wrapper-summary-subplot::after {
  content: "";
  width: 100%;
  background-color: var(--body-main-wrapper-background);
  position: absolute;
  bottom: -40px;
  height: 40px;
  z-index: 35;
}

.each-graph-column-wrapper-inactivity-indicator,
.each-graph-column-wrapper-inactivity-indicator::after,
.each-graph-column-wrapper-inactivity-indicator div:nth-child(1):after {
  background-color: rgb(255, 206, 199) !important;
}

.column-wrapper-summary-subplot::after {
  height: calc(33% + 5px);
  bottom: -5px;
  background-color: var(--body-main-wrapper-background);
  z-index: 15;
}

.column-wrapper-summary-subplot div:nth-child(1):after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: calc(33% + 2px);
  bottom: 33%;
  background-color: var(--body-main-wrapper-background);
  z-index: 5;
}

.each-graph-column-wrapper-last {
  width: 10px !important;
}

.each-graph-column-wrapper-last .each-data-line {
  display: none !important;
}

.each-data-point {
  max-width: var(--each-data-point-max-width);
  min-width: var(--each-data-point-min-width);
  aspect-ratio: 1/1;
  left: calc((var(--each-data-point-max-width) / 2) * -1);
  position: absolute;
  border-radius: 100%;
  margin-bottom: var(--each-data-point-margin-bottom);
  z-index: var(--each-data-point-z-index);
  opacity: 0;
}

.each-data-point-hovered {
  opacity: 1;
}

.each-data-line {
  width: 100%;
  left: 0px;
  position: absolute;
  height: var(--each-data-line-height);
  transform-origin: left;
  z-index: var(--each-data-line-z-index);
  transition: opacity var(--each-data-line-transition-duration) ease-in-out 0s;
}

.horizontal-axis-label {
  width: fit-content;
  text-align: center;
  text-wrap: nowrap;
  font-size: var(--horizontal-axis-label-font-size);
  font-weight: var(--horizontal-axis-label-font-weight);
  transform-origin: center;
  transform: rotateZ(var(--horizontal-axis-label-transform-rotate-deg));
  transition: font-weight var(--horizontal-axis-label-transition-duration) ease
    0s;
  position: absolute;
  bottom: var(--horizontal-axis-label-bottom);
  z-index: var(--horizontal-axis-label-z-index);
  color: rgba(73, 48, 111, 1);
  justify-content: center;
  display: var(--horizontal-axis-label-display);
}

.horizontal-axis-label-compact {
  text-wrap: wrap;
  display: var(--horizontal-axis-label-compact-display);
  flex-direction: column;
  align-items: center;
}

.horizontal-axis-label-compact span {
  text-wrap: nowrap;
  line-height: 12px;
  margin-bottom: 3px;
}

.each-data-point-horizontal-label-hovered {
  font-weight: var(--each-data-point-horizontal-label-hovered-font-weight);
}

.vertical-axis-labels {
  min-width: var(--vertical-axis-labels-width);
  max-width: var(--vertical-axis-labels-width);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  text-wrap: nowrap;
  align-items: start;
  margin-top: 0px;
  border-right: var(--vertical-axis-labels-border-right-size) solid
    var(--color-triangle-unselected);
  padding: 0;
  padding-bottom: 20px;
}

.vertical-axis-sub-wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding: 2px 0;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--graph-horizontal-axis-color);
}

.each-vertical-label {
  font-size: var(--each-vertical-label-font-size);
  font-weight: var(--each-vertical-label-font-weight);
  margin-right: var(--each-vertical-label-margin-right);
  width: var(--each-vertical-label-width);
  color: var(--each-vertical-label-color);
  text-align: start;
  text-wrap: nowrap;
  line-height: 12px;
}

.graph-range-paint-bar {
  position: absolute;
  width: 0px;
  height: 100%;
  bottom: 0px;
  opacity: var(--graph-range-paint-bar-opacity);
}

.graph-range-paint-bar-left {
  left: 0 !important;
  transform-origin: top left !important;
}

.graph-range-paint-bar-right {
  right: 0 !important;
  transform-origin: top right !important;
}

.each-data-indicator-vertical-line {
  width: 0;
  border-right: var(--each-data-indicator-vertical-line-border-right-size)
    dashed var(--each-data-indicator-vertical-line-border-color);
  height: calc(
    var(--each-data-indicator-vertical-line-height) -
      var(--each-data-indicator-vertical-line-top) + 30px
  );
  top: var(--each-data-indicator-vertical-line-top);
  left: var(--each-data-indicator-vertical-line-left);
  position: absolute;
  opacity: 0;
  transition: all var(--each-data-indicator-vertical-line-transition-duration)
    ease 0s;
  z-index: 32;
}

.each-data-indicator-vertical-line-visible {
  opacity: 1;
}

.each-data-vertical-reference-line {
  position: absolute;
  border-right: 1px dashed rgba(124, 112, 195, 1);
  height: calc(100% + 30px);
  right: 0;
  z-index: 0;
  z-index: 32;
}

.subplot-seperator {
  width: calc(
    100% - var(--vertical-axis-labels-width) -
      (2 * var(--validator-graph-wrapper-horizontal-padding))
  );
  border-bottom: 1px solid var(--graph-horizontal-axis-color);
  position: absolute;
  background-color: var(--body-main-wrapper-background);
  left: calc(
    var(--vertical-axis-labels-width) +
      var(--validator-graph-wrapper-horizontal-padding)
  );
}

@media only screen and (max-width: 1000px) {
  :root {
    --horizontal-axis-label-display: none;
    --horizontal-axis-label-compact-display: flex;
  }
}

@media only screen and (max-width: 750px) {
  :root {
    --vertical-axis-labels-width: 50px;
    --vertical-axis-labels-width-int: 50;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --horizontal-axis-label-font-size: 12px;
  }
}
