
:root {
  --color-powder-blue: rgb(245, 245, 255);
  --color-pale-dark: rgb(22, 22, 22);
  --color-pale-white: rgb(248, 248, 248);
  --color-dropdown-background: rgba(242, 242, 242, 1);
  --color-triangle-unselected: rgba(183, 166, 198, 1);
  --color-middle-date-background: rgba(232, 232, 255, 1);
  --color-selected-date-background: rgba(202, 200, 255, 1);
  --color-network-switch: rgb(224, 228, 255);
  --color-network-switch-dropdown-background: rgb(236, 240, 255);
  --color-table-header-popup: rgba(209, 209, 209, 1);
  --pointer-default-dark: url('/res/pointers/default-dark.svg') 4 0, auto;
  --pointer-hand-dark: url('/res/pointers/hand-dark.svg') 6 0, auto;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque';
  font-weight: 500;
  background-color: var(--color-pale-white);
  color: var(--color-pale-dark);
  cursor: var(--pointer-default-dark);
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table tr {
  border-bottom: 0.5px solid var(--color-triangle-unselected);
}

td {
  padding: 10px;
  position: relative;
  min-width: 100px;
}

td:first-child {
  width: 40%;
  background-color: var(--color-powder-blue);
}

td:not(:first-child) {
  width: 15%;
  text-align: end;
}

a {
  color: var(--color-pale-black);
  text-decoration: none;
}

input {
  font-family: 'Darker Grotesque';
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
  pointer-events: none !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 8px;
  font-size: clamp(0.625rem, 2vw, 0.875rem);
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s ease-in-out;
  background-color: var(--color-pale-white);
}

.submit-button {
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: var(--pointer-hand-dark);
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

.submit-button:hover {
  filter: brightness(0.8);
  transform: translateY(-2px);
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.2);
}

.submit-button:active {
  transform: translateY(1px);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.general-single-line-request-result-display-content {
  font-size: clamp(0.625rem, 2vw, 0.875rem);
  font-weight: 300;
}

select.general-select-content {
  background-color: var(--color-powder-blue);
  color: var(--color-dark-violet);
  border: 2px solid var(--color-dark-violet);
  border-radius: 8px;
  padding: 10px 15px;
  font-size: clamp(0.875rem, 2vw, 1rem);
  cursor: var(--pointer-hand-dark);
  outline: none;
  transition: all 0.3s ease;
}

select.general-select-content:hover {
  background-color: var(--color-pale-white);
  color: var(--color-dark-violet);
}

select.general-select-content:focus {
  border-color: var(--color-pale-black);
  box-shadow: 0 0 5px var(--color-dark-violet);
}

option {
  background-color: var(--color-pale-white);
  color: var(--color-dark-violet);
  padding: 5px;
}

option:hover {
  background-color: var(--color-powder-blue);
}


.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-triangle-unselected);
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-triangle-unselected);
}

.footer-main-title {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 600;
}

.footer-socials-wrapper {
  display: flex;
  gap: 56px;
}

.footer-main-wrapper {
  padding: 50px 0;
  flex-direction: column;
  gap: 18px;
}

.each-social-icon {
  transition: all 0.25s ease 0s;
  cursor: var(--pointer-hand-dark);
}

.each-social-icon:hover {
  scale: 1.2;
}
