
:root {
  --all-wrapper-width: 100%;
  --navbar-horizontal-padding: 22px;
  --navbar-vertical-padding: 50px;
  --navbar-gap: 52px;
  --navbar-position: unset;
  --navbar-z-index: 10000;
  --navbar-background-color: rgb(232, 232, 254);

  --each-sub-menu-link-content-gap: 10px;

  --color-powder-blue: rgb(245, 245, 255);
  --color-pale-dark: rgb(22, 22, 22);
  --color-night-blue: rgba(37, 0, 84, 1);
  --color-pale-white: rgb(248, 248, 248);
  --color-dropdown-background: rgba(245, 245, 254, 1);
  --color-triangle-unselected: rgba(183, 166, 198, 1);
  --color-triangle-big-unselected: rgba(73, 48, 111, 1);
  --color-middle-date-background: rgba(232, 232, 255, 1);
  --color-selected-date-background: rgba(202, 200, 255, 1);
  --color-network-switch: rgb(224, 228, 255);
  --color-network-switch-dropdown-background: rgb(236, 240, 255);
  --color-table-header-popup: rgba(209, 209, 209, 1);
  --pointer-default-dark: url('/res/pointers/default-dark.svg') 4 0, auto;
  --pointer-hand-dark: url('/res/pointers/hand-dark.svg') 6 0, auto;
  --pointer-hand-drag-dark: url('/res/pointers/hand-drag-dark.svg') 6 0, auto;
  --pointer-hand-click-dark: url('/res/pointers/hand-click-dark.svg') 6 0, auto;

  --website-main-font-size: 16px;
  --website-main-font-family: 'Darker Grotesque';
  --website-main-font-weight: 500;
  --website-master-background-color: rgb(250, 250, 250);
  --website-master-line-height: 12px;

  --skeleton-background-color: rgb(204, 204, 204);
  --skeleton-text-border-radius: 20px;
  --skeleton-transition-duration: 0.2s;

  --spinner-border-size: 4px;
  --spinner-border-radius: 50%;
  --spinner-animation-duration: 1s;

  --triangle-size: 5px;
  --triangle-big-size: 8px;

  --navbar-toggle-transition-duration: 0.25s;

  --footer-main-title-font-size: 48px;
  --footer-main-title-font-weight: 600;
  
  --footer-socials-wrapper-gap: 56px;
  
  --footer-main-wrapper-vertical-padding: 50px;
  --footer-main-wrapper-gap: 18px;

  --footer-main-wrapper-height: fit-content;
  --footer-main-wrapper-margin-bottom: 25px;
  
  --each-social-icon-transition-duration: 0.25s;
  --each-social-icon-hover-scale: 1.2;
  --each-social-icon-size: 22px;
  
  --switch-label-width: 50px;
  --switch-label-height: 25px;
  --switch-label-background-color: rgb(252, 252, 252);
  --switch-label-border-radius: 25px;
  
  --switch-button-top: 2px;
  --switch-button-left: 2px;
  --switch-button-width: 21px;
  --switch-button-height: 21px;
  --switch-button-background-color: rgba(183, 166, 198, 1);
  --switch-button-border-radius: 50%;
  --switch-button-transition-duration: 0.3s;

  --navbar-view-toggle-left: -10.5px;

  --each-footer-right-column-margin-left: auto;
  --each-footer-right-column-width: auto;

  --footer-contact-input-content-width: 200px;
}

html {
  margin: 0;
  padding: 0;
  font-size: var(--website-main-font-size);
  background-color: rgb(245, 245, 245); 
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--website-main-font-family);
  background-color: rgb(232, 232, 254) !important;
  font-weight: var(--website-main-font-weight);
  background-color: var(--color-pale-white);
  color: var(--color-pale-dark);
  cursor: var(--pointer-default-dark);
}

a {
  color: var(--color-pale-black);
  text-decoration: none;
}

input {
  font-family: var(--website-main-font-family);
  padding-bottom: 4px;
  line-height: 4px;
}

button {
  font-family: var(--website-main-font-family);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
  background-color: var(--color-pale-white);
}

.all-wrapper {
  width: var(--all-wrapper-width);
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: var(--triangle-size) solid transparent;
  border-right: var(--triangle-size) solid transparent;
  border-bottom: var(--triangle-size) solid var(--color-triangle-unselected);
}

.triangle-up-big {
  width: 0;
  height: 0;
  border-left: var(--triangle-big-size) solid transparent;
  border-right: var(--triangle-big-size) solid transparent;
  border-bottom: var(--triangle-big-size) solid var(--color-triangle-big-unselected);
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: var(--triangle-size) solid transparent;
  border-right: var(--triangle-size) solid transparent;
  border-top: var(--triangle-size) solid var(--color-triangle-unselected);
}

.triangle-down-big {
  width: 0;
  height: 0;
  border-left: var(--triangle-big-size) solid transparent;
  border-right: var(--triangle-big-size) solid transparent;
  border-top: var(--triangle-big-size) solid var(--color-triangle-big-unselected);
}

.spinner {
  border: var(--spinner-border-size) solid var(--color-powder-blue);
  border-top: var(--spinner-border-size) solid var(--color-triangle-unselected);
  border-radius: var(--spinner-border-radius);
  animation: spin var(--spinner-animation-duration) linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.skeleton-text, .skeleton-text div {
  color: transparent !important;
  background-color: var(--skeleton-background-color);
  border-radius: var(--skeleton-text-border-radius) !important;
}

.skeleton-text::after {
  content: '';
  display: none;
}

.skeleton-image {
  color: transparent !important;
  background-color: var(--skeleton-background-color);
}

.skeleton-image img {
  opacity: 0 !important;
}

.general-choice-radio-button {
  width: 14px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 1px solid var(--color-night-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.general-choice-radio-button-inner-circle {
  width: 6px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: var(--color-night-blue);
  display: none;
  font-size: 8px;
  align-items: center;
  justify-content: center;
}

.general-choice-checkbox {
  width: 14px;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  border: 1px solid var(--color-night-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.general-choice-checkbox-inner-circle {
  width: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  display: none;
  font-size: 8px;
  margin-right: 2px;
  transition: all 0.25s linear 0s;
}

.navbar-wrapper {
  width: calc(var(--navbar-width) - 2 * var(--navbar-horizontal-padding));
  height: calc(100% - (2 * var(--navbar-vertical-padding)));
  padding: var(--navbar-vertical-padding) var(--navbar-horizontal-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: var(--navbar-gap);
  background-color: var(--navbar-background-color);
  position: var(--navbar-position);
  transition: all var(--navbar-toggle-transition-duration) ease-in-out 0s;
  z-index: var(--navbar-z-index);
}

.navbar-wrapper .header-banner-wrapper {
  width: 100%;
}

.navbar-menu-wrapper {
  align-self: flex-start;
  transition: all var(--navbar-toggle-transition-duration) ease-in-out 0s;
}

.each-sub-menu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: inherit;
  margin-bottom: 24px;
  font-size: 16px;
}

.each-sub-menu-links-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: inherit;
  font-size: 16px;
  margin-left: 12px;
}

.each-sub-menu-wrapper:nth-child(1) .each-sub-menu-title {
  margin-left: -2px;
} .each-sub-menu-wrapper:nth-child(2) .each-sub-menu-title {
  margin-left: 2px;
}

.each-sub-menu-link-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--each-sub-menu-link-content-gap);
  transition: all var(--navbar-toggle-transition-duration) ease 0s;
  cursor: var(--pointer-hand-dark);
  color: rgba(37, 0, 84, 1);
  opacity: 0.5;
}

.navbar-link-selected {
  opacity: 1;
}

.navbar-footer-wrapper {
  display: flex;
  gap: 30px;
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  transition: inherit;
}

.each-social-icon {
  width: var(--each-social-icon-size);
  transition: all var(--navbar-toggle-transition-duration) ease-in-out 0s;
}

.navbar-view-toggle {
  transition: inherit;
  width: 21px;
  height: 21px;
  background-color: rgba(144, 144, 245, 1);
  border-radius: 100%;
  position: absolute;
  top: 114px;
  left: var(--navbar-view-toggle-left);
  cursor: var(--pointer-hand-dark);
  z-index: 110000;
}

.navbar-view-toggle span {
  margin-bottom: 4px;
  margin-left: 2px;
  transform: rotateY(0deg);
  transition: all 0.25s ease-in-out 0s;
  transform-origin: center;
}

.navbar-arrow-close {
  margin-left: -2px !important;
  transform: rotateY(180deg) !important;
}

.navbar-text {
  text-wrap: nowrap;
}

.navbar-icon {
  width: 22px;
  height: 22px;
  transition: all var(--navbar-toggle-transition-duration) ease 0s;
}

.navbar-close {
  width: 30px;
}

.banner-logo-wrapper {
  height: 56px;
  transition: all var(--navbar-toggle-transition-duration) ease-in-out 0s;
}

.banner-logo-wrapper img {
  height: 100%;
}

.banner-title-content {
  transition: all var(--navbar-toggle-transition-duration) ease-in-out 0s;
}

.navbar-close .banner-logo-wrapper {
  margin-left: -2px;
}

.navbar-close .navbar-menu-wrapper {
  margin-left: -6px;
}

.navbar-close .banner-title-content {
  margin-left: 100px;
  transition: all calc(var(--navbar-toggle-transition-duration) / 1.5) ease-in-out calc(var(--navbar-toggle-transition-duration) / 3);
}

.navbar-close .each-sub-menu-link-content {
  gap: calc(var(--each-sub-menu-link-content-gap) * 5);
  transition: gap calc(var(--navbar-toggle-transition-duration) / 3) ease calc(var(--navbar-toggle-transition-duration) / 1.5);
}

.navbar-close .navbar-icon {
  width: 26px;
  height: 26px;
  margin-left: -4px;
}

.navbar-close .navbar-footer-wrapper {
  gap: 0px;
}

.navbar-close .navbar-footer-wrapper .each-social-icon:nth-child(1) {
  margin-top: -100px;
} .navbar-close .navbar-footer-wrapper .each-social-icon:nth-child(2) {
  margin-top: -50px;
  margin-left: calc(var(--each-social-icon-size) * -1);
} .navbar-close .navbar-footer-wrapper .each-social-icon:nth-child(3) {
  margin-top: 0px;
  margin-left: calc(var(--each-social-icon-size) * -1);
}

.footer-main-wrapper {
  width: 100%;
  height: var(--footer-main-wrapper-height);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 500;
  color: rgba(54, 22, 97, 1);
  margin-bottom: var(--footer-main-wrapper-margin-bottom);
}

.footer-mini-menu {
  display: flex;
  gap: 50px;
  font-size: 16px;
}

.footer-contact-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 20px;
  align-items: end;
}

.footer-email-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-email-content {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: true;
  text-decoration-thickness: 0%;
  text-underline-offset: 15%;
}

.footer-email-icon {
  transition: all 0.25s ease 0s;
}

.footer-email-wrapper:hover .footer-email-icon {
  transform: translateY(-5px) translateX(5px);
}

.each-footer-column {
  height: fit-content;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

.each-footer-right-column {
  align-items: flex-end;
  width: var(--each-footer-right-column-width) !important;
  margin-left: var(--each-footer-right-column-margin-left);
}

.footer-contact-input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-contact-input-content {
  width: var(--footer-contact-input-content-width);
  height: 36px;
  border-radius: 57px;
  border: 1px solid rgba(102, 84, 125, 1);
  padding: 0px 15px;
}

.footer-contact-input-submit {
  height: 36px;
  width: 58px;
  border-radius: 57px;
  background-color: rgba(102, 84, 125, 1);
  color: rgb(255, 255, 255);
  cursor: var(--pointer-hand-dark);
}

.footer-contact-label-text {
  text-align: end;
}

@media only screen and (max-width: 1000px) {
  :root {
    /* --navbar-position: absolute;
    --all-main-wrapper-width: 100% + var(--navbar-width) - 76px; */
    --header-main-wrapper-horizontal-padding: 20px;
    --inner-main-wrapper-horizontal-padding: 20px;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --each-footer-right-column-margin-left: auto;
    --each-footer-right-column-width: 200px;
    --footer-contact-input-content-width: 100px;
  }
}