:root {
  --date-picker-height: 46px;
  --date-picker-z-index: 1000;
  --date-picker-width: 300px;
  
  --date-picker-display-initial: flex;
  --date-picker-display: flex;

  --selected-range-height: 46px;
  --selected-range-font-size: 20px;
  --selected-range-border-radius: 16px;
  --selected-range-gap: 8px;
  --selected-range-padding: 5px;

  --selected-range-logo-color: rgba(255, 255, 255, 1);
  
  --selected-range-background: rgba(245, 245, 255, 1);
  --selected-range-backdrop-filter: none;
  --selected-range-border-size: 1px;
  --selected-range-border-color: var(--general-main-wrapper-border-color);
  --selected-range-color: rgba(124, 112, 195, 1);

  --selected-range-background-initial: rgba(255, 255, 255, 0.17);
  --selected-range-backdrop-filter-initial: blur(19.3px);
  --selected-range-border-size-initial: var(--general-main-wrapper-border-size);
  --selected-range-border-color-initial: rgba(239, 239, 255, 1);
  --selected-range-color-initial: rgba(255, 255, 255, 1);

  --date-interval-description-padding: 10px;
  --date-interval-description-gap: 5px;
  --date-interval-descriptio-text-margin-top: -2px;

  --picker-main-wrapper-box-shadow-color: rgba(23, 37, 76, 0.12);
  --picker-main-wrapper-transition-duration: 0.25s;
  --picker-main-wrapper-transform-perspective: 1000px;
  --picker-main-wrapper-transform-rotate-x: -90deg;
  --picker-main-wrapper-opacity: 0;
  --picker-main-wrapper-right: 0;
  --picker-main-wrapper-top: 100%;
  --picker-main-wrapper-z-index: 10000;
  --picker-main-wrapper-border-radius: 24px;
  
  --picker-content-wrapper-font-size: 20px;
  --picker-content-wrapper-margin-top: 5px;

  --calendar-left-wrapper-width: 165px;
  --calendar-left-wrapper-padding: 10px;
  --calendar-left-wrapper-dropdown-ul-margin: 0;
  --calendar-left-wrapper-dropdown-ul-padding: 0;
  --calendar-left-wrapper-dropdown-li-padding: 10px;
  --calendar-left-wrapper-dropdown-li-transition-duration: 0.25s;
  --calendar-left-wrapper-dropdown-li-selected-font-weight: 600;

  --calendar-left-wrapper-each-choice-font-size: 20px;
  --calendar-left-wrapper-each-choice-font-weight: 400;

  --calendar-wrapper-padding: 10px;

  --date-input-month-year-info-content-font-size: 20px;

  --days-header-wrapper-horizontal-margin: -10px;
  --days-header-wrapper-vertical-margin: 10px;
  --days-header-wrapper-horizontal-padding: 10px;
  --days-header-wrapper-vertical-padding: 5px;
  --days-header-wrapper-gap: 10px;

  --days-width: 100%;
  --day-width-font-weight: 400;
  --day-width-font-size: 20px;

  --date-aspect-ratio: 1/1;
  --date-margin: 0;
  --date-font-size: 20px;
  --date-border-size: 4px;
  --date-padding: 4px;
  --date-hover-background-color: rgb(221, 221, 221);

  --date-range-gap: 2px;
  --date-range-margin-top: -2px;
  --date-range-width: fit-content;
    
  --selected-date-border-size: 4px;
  --selected-date-border-radius: 20px;

  --calendar-action-buttons-padding: 10px;
  --calendar-action-buttons-gap: 10px;
  --each-calendar-action-button-font-size: 18px;
  --each-calendar-action-button-font-weight: 500;

  --header-network-switch-wrapper-font-size: 20px;
  --header-network-switch-wrapper-font-weight: 600;

  --network-switch-search-bar-width: 100%;
  --network-switch-search-icon-size: 36px;
  
  --network-switch-search-bar-border-radius: 0px;
  --network-switch-search-bar-height: 48px;
  
  --network-switch-search-bar-input-font-size: 16px;
  --network-switch-search-bar-input-margin-top: -2px;

  --network-switch-dropdown-top: 100%;
  --network-switch-dropdown-right: 0;
  --network-switch-dropdown-z-index: 120;
  --network-switch-dropdown-width: 100%;
  --network-switch-dropdown-height: 200px;
  --network-switch-dropdown-border-size: 1px;
  --network-switch-dropdown-border-color: transparent;
  --network-switch-dropdown-background-color: rgba(245, 245, 255, 1);
  --network-switch-dropdown-gap: 0;
  --network-switch-dropdown-top-padding: 10px;
  --network-switch-dropdown-horizontal-padding: 0px;
  --network-switch-dropdown-border-radius: 24px;
  --network-switch-dropdown-transition-duration: 0.25s;
  --network-switch-dropdown-opacity: 0;
  --network-switch-dropdown-opacity-open: 1;
  --network-switch-dropdown-transform-perspective: 1000px;
  --network-switch-dropdown-transform-rotate-x: -90deg;
  --network-switch-dropdown-transform-open-rotate-x: 0deg;
  
  --network-switch-header-width: 250px;
  --network-switch-header-padding: 10px;
  --network-switch-header-background-color: rgba(232, 232, 255, 1);
  --network-switch-header-border-size: 0.5px;
  --network-switch-header-height: 56px;
  --network-switch-header-gap: 0px;
  --network-switch-header-border-radius: 16px;
  --network-switch-header-chain-content-wrapper-gap: 10px;

  --network-switch-network-symbol-font-size: 20px;
  --network-switch-network-symbol-font-weight: 400;
  --network-switch-network-symbol-margin-top: -5px;

  --network-switch-text-display: block;
  --network-switch-network-title-color: rgba(37, 0, 84, 1);
  --network-switch-network-title-margin-top: -4px;
  --network-switch-network-title-font-size: 20px;
  --network-switch-network-title-font-weight: 500;

  --network-switch-network-currency-font-size: 16px;
  --network-switch-network-currency-font-weight: 400;
  --network-switch-network-currency-color: rgba(73, 48, 111, 1);
  
  --each-network-switch-main-numerical-value-color: rgba(73, 48, 111, 1);
  --each-network-switch-main-numerical-value-font-weight: 500;
  --each-network-switch-main-numerical-value-font-size: 16px;
  
  --unselected-network-title-font-size: 20px;
  --unselected-network-title-font-weight: 400;
  --unselected-network-title-transition-duration: 0.25s;

  --network-switch-search-icon-size: 48px;

  --each-chain-wrapper-height: 30px;
  --each-chain-wrapper-vertical-margin: 10px;
  --each-chain-wrapper-horizontal-margin: 20px;
  
  --network-switch-chains-wrapper-max-height: 200px;
  --network-switch-dropdown-before-bottom: 0px;
  --network-switch-dropdown-before-height: 20px;
  --network-switch-dropdown-after-top: 58px;
  --network-switch-dropdown-after-height: 20px;

  --network-switch-network-image-wrapper-margin-right: 5px;
  
  --network-unselected-image-wrapper-margin-right: 15px;
  --network-switch-network-info-wrapper-margin-right: 40px;
  
  --network-switch-dropdown-toggle-margin-top: 4px;

  --banner-logo-color: rgba(245, 245, 255, 1);
  --footer-logo-color: rgba(38, 0, 76, 1);

  --header-banner-wrapper-gap: 10px;
  --header-banner-wrapper-margin-bottom: 10px;
  --header-banner-wrapper-margin-left: 0px;

  --banner-title-content-color-initial: rgba(245, 245, 255, 1);
  --banner-title-content-color-main: rgba(37, 0, 84, 1);

  --header-banner-wrapper-height: 26px;
  --banner-title-content-font-size: 42px;
  --banner-title-content-font-weight: 700;
  --banner-title-content-margin-top: -8px;
  --banner-logo-wrapper-height: 100%;
}

.date-picker {
  width: var(--date-picker-width);
  height: var(--date-picker-height);
  z-index: var(--date-picker-z-index);
  transition: all var(--picker-main-wrapper-transition-duration) ease-in-out 0s;
  overflow: visible;
  display: var(--date-picker-display-initial);
  position: relative;
  flex-direction: column;
  align-items: end;
}

.date-picker-open {
  width: calc(1.7 * var(--date-picker-width));
}

.date-picker-open-loading-wrapper {
  width: 100%;
  height: calc(100% + var(--selected-range-height));
  border-radius: calc(var(--picker-main-wrapper-border-radius) - 10px);
  background-color: rgba(234, 234, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  gap: 12px;
  top: calc(-1 * var(--selected-range-height));
  z-index: 500;
}

.date-picker-open-loading-wrapper span {
  font-size: 30px;
  font-weight: 500;
  color: rgba(37, 0, 84, 1);
}

.selected-range {
  display: flex;
  width: calc(100% - (2 * var(--selected-range-padding)));
  height: calc(var(--selected-range-height) - 2 * var(--selected-range-padding));
  justify-content: space-between;
  cursor: var(--pointer-hand-dark);
  align-items: center;
  font-size: var(--selected-range-font-size);
  gap: var(--selected-range-gap);
  padding: var(--selected-range-padding);
  background-color: var(--selected-range-background-initial);
  border: var(--selected-range-border-size-initial) solid var(--selected-range-border-color-initial);
  border-radius: var(--selected-range-border-radius);
  transition: all var(--picker-main-wrapper-transition-duration) ease-in-out 0s;
  backdrop-filter: var(--selected-range-backdrop-filter-initial);
  color: var(--selected-range-color-initial);
}

.selected-range-validator {
  backdrop-filter: var(--selected-range-backdrop-filter) !important;
  color: var(--selected-range-color) !important;
  border: var(--selected-range-border-size) solid var(--selected-range-border-color) !important;
  background-color: var(--selected-range-background) !important;
}

.date-interval-description {
  display: flex;
  align-items: center;
  padding: var(--date-interval-description-padding);
  gap: var(--date-interval-description-gap);
}

.selected-range .date-interval-description span {
  display: none !important;
}

.date-interval-description-text {
  margin-top: var(--date-interval-descriptio-text-margin-top);
  text-wrap: nowrap;
}

.selected-range-open {
  border-bottom: 0px solid var(--general-main-wrapper-border-color);
  border-radius: var(--selected-range-border-radius) var(--selected-range-border-radius) 0 0;
}

.selected-range-open .date-interval-description span {
  display: flex !important;
}

.picker-main-wrapper {
  width: 100%;
  transition: all var(--picker-main-wrapper-transition-duration) ease 0s;
  transform: perspective(var(--picker-main-wrapper-transform-perspective)) rotateX(var(--picker-main-wrapper-transform-rotate-x));
  opacity: var(--picker-main-wrapper-opacity);
  top: var(--picker-main-wrapper-top);
  border-radius: var(--picker-main-wrapper-border-radius);
  background-color: var(--color-dropdown-background);
  z-index: var(--picker-main-wrapper-z-index);
  border: var(--general-main-wrapper-border-size) solid var(--general-main-wrapper-border-color);
  border-top: 0px solid var(--general-main-wrapper-border-color);
  transform-origin: top;
  position: absolute;
}

.picker-main-wrapper-open {
  border-radius: 0 0 var(--picker-main-wrapper-border-radius) var(--picker-main-wrapper-border-radius);
  transform: perspective(1000px) rotateX(0deg);
  opacity: 1;
}

.picker-content-wrapper {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  font-size: var(--picker-content-wrapper-font-size);
  margin-top: var(--picker-content-wrapper-margin-top);
}

.left-wrapper {
  padding: var(--calendar-left-wrapper-padding);
  width: var(--calendar-left-wrapper-width);
}

.left-wrapper-each-choice {
  font-size: var(--calendar-left-wrapper-each-choice-font-size);
  font-weight: var(--calendar-left-wrapper-each-choice-font-weight);
  text-wrap: nowrap;
}

.dropdown ul {
  list-style: none;
  padding: var(--calendar-left-wrapper-dropdown-ul-padding);
  margin: var(--calendar-left-wrapper-dropdown-ul-margin);
}

.dropdown li {
  padding: var(--calendar-left-wrapper-dropdown-li-padding);
  transition: all var(--calendar-left-wrapper-dropdown-li-transition-duration) ease-in-out 0s;
  cursor: var(--pointer-hand-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  font-weight: var(--calendar-left-wrapper-dropdown-li-selected-font-weight);
}

.calendar-wrapper {
  padding: var(--calendar-wrapper-padding);
}

.date-input-month-year-info-content {
  font-size: var(--date-input-month-year-info-content-font-size);
  display: flex;
  align-items: center;
}

.days-header-wrapper {
  margin: var(--days-header-wrapper-vertical-margin) var(--days-header-wrapper-horizontal-margin);
  padding: var(--days-header-wrapper-vertical-padding) var(--days-header-wrapper-horizontal-padding);
  gap: var(--days-header-wrapper-gap);
}

.days {
  width: var(--days-width);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  overflow: hidden;
  border-radius: calc(var(--picker-main-wrapper-border-radius) - var(--calendar-wrapper-padding));
}

.day {
  font-size: var(--day-width-font-size);
  font-weight: var(--day-width-font-weight);
  user-select: none;
}

.date {
  aspect-ratio: var(--date-aspect-ratio);
  margin: var(--date-margin);
  font-size: var(--date-font-size);
  border: var(--date-border-size) solid transparent;
  padding: var(--date-padding);
  cursor: var(--pointer-hand-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.date:hover {
  background: var(--date-hover-background-color);
}

.date-range {
  display: flex;
  gap: var(--date-range-gap);
  margin-top: var(--date-range-margin-top);
  width: var(--date-range-width);
  overflow: hidden;
}

.date-range span {
  display: inline;
  text-overflow: ellipsis;
}

.selected-date-bottom, .selected-date-top {
  border: var(--selected-date-border-size) solid var(--color-middle-date-background);
  background-color: var(--color-middle-date-background);
  position: relative;
  z-index: 10;
}

.selected-date-top {
  border-radius: 0 var(--selected-date-border-radius) var(--selected-date-border-radius) 0 !important;
}

.selected-date-bottom {
  border-radius: var(--selected-date-border-radius) 0 0 var(--selected-date-border-radius) !important;
}

.selected-date-bottom::after, .selected-date-top::after {
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  background-color: var(--color-selected-date-background);
}

.selected-date-bottom:hover, .selected-date-top:hover {
  background-color: var(--color-selected-date-background);
}

.middle-date {
  display: var(--animated-middle-date-display);
  background-color: var(--color-middle-date-background);
}

.middle-date:hover {
  background-color: var(--color-middle-date-background) !important;
}


.header-banner-wrapper{
  height: var(--header-banner-wrapper-height);
  gap: var(--header-banner-wrapper-gap);
  margin: var(--header-banner-wrapper-margin-bottom) 0;
  margin-left: var(--header-banner-wrapper-margin-left);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 20;
}

.banner-title-content {
  margin-top: var(--banner-title-content-margin-top);
  letter-spacing: var(--banner-title-content-letter-spacing);
  font-size: var(--banner-title-content-font-size);
  font-weight: var(--banner-title-content-font-weight);
  color: var(--banner-title-content-color-initial);
}

.banner-title-content-validator {
  color: var(--banner-title-content-color) !important;
}

.banner-logo-wrapper {
  height: 100%;
}

.banner-logo-wrapper svg {
  height: 100%;
  width: auto;
  display: block;
  max-height: 100%;
  max-width: 100%
}

.banner-logo-wrapper img {
  height: 100%;
}

.banner-title-content {
  transition: all var(--navbar-toggle-transition-duration) ease-in-out 0s;
}

.header-network-switch-wrapper {
  font-size: var(--header-network-switch-wrapper-font-size);
  font-weight: var(--header-network-switch-wrapper-font-weight);
  cursor: var(--pointer-hand-dark);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.network-switch-network-title {
  margin-top: var(--network-switch-network-title-margin-top);
  font-size: var(--network-switch-network-title-font-size);
  font-weight: var(--network-switch-network-title-font-weight);
  color: var(--network-switch-network-title-color);
}

.network-switch-network-title-wrapper .network-switch-network-title {
  display: var(--network-switch-text-display);
}

.network-switch-network-currency {
  font-size: var(--network-switch-network-currency-font-size);
  font-weight: var(--network-switch-network-currency-font-weight);
  color: var(--network-switch-network-currency-color);
  display: var(--network-switch-text-display);
}

.each-network-switch-main-numerical-value {
  color: var(--each-network-switch-main-numerical-value-color);
  font-weight: var(--each-network-switch-main-numerical-value-font-weight);
  font-size: var(--each-network-switch-main-numerical-value-font-size);
  display: var(--network-switch-text-display);
  position: relative;
}

.each-network-switch-main-numerical-value span, .each-network-switch-main-numerical-value img {
  display: var(--network-switch-text-display);
}

.unselected-network-title {
  font-size: var(--unselected-network-title-font-size);
  font-weight: var(--unselected-network-title-font-weight);
  color: var(--text-placeholder-color);
  transition: all var(--unselected-network-title-transition-duration) ease 0s;
}

.each-chain-wrapper:hover .unselected-network-title {
  color: var(--color-pale-dark);
}

.network-switch-chains-wrapper::-webkit-scrollbar, .validator-filter-input-result-wrapper::-webkit-scrollbar {
  width: var(--minimal-popup-scrollbar-width);
}

.network-switch-chains-wrapper::-webkit-scrollbar-track, .validator-filter-input-result-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.network-switch-chains-wrapper::-webkit-scrollbar-thumb, .validator-filter-input-result-wrapper::-webkit-scrollbar-thumb {
  border-radius: var(--minimal-popup-scrollbar-thumb-border-radius);
  background: var(--color-network-switch);
}

.network-switch-search-icon {
  width: var(--network-switch-search-icon-size);
  aspect-ratio: 1/1;
}

.network-switch-search-bar {
  display: flex;
  align-items: center;
  width: var(--network-switch-search-bar-width);
  background-color: var(--network-switch-dropdown-background-color);
  border-radius: var(--network-switch-search-bar-border-radius);
  height: var(--network-switch-search-bar-height) !important;
}

.network-switch-search-bar input {
  width: 100%;
  font-size: var(--network-switch-search-bar-input-font-size);
  margin-top: var(--network-switch-search-bar-input-margin-top);
}

.network-switch-input-content {
  border: none;
  background-color: var(--network-switch-dropdown-background-color);
}

.each-chain-wrapper {
  display: flex; 
  align-items: center; 
  height: var(--each-chain-wrapper-height);
  margin: var(--each-chain-wrapper-vertical-margin) var(--each-chain-wrapper-horizontal-margin);
}

.network-switch-dropdown {
  top: var(--network-switch-dropdown-top);
  left: var(--network-switch-dropdown-right);
  z-index: var(--network-switch-dropdown-z-index);
  width: calc(var(--network-switch-dropdown-width) - 1px);
  max-height: var(--network-switch-dropdown-height);
  border: var(--general-main-wrapper-border-size) solid var(--general-main-wrapper-border-color);
  border-top: 0px solid var(--network-switch-dropdown-border-color);
  border-radius: var(--network-switch-dropdown-border-radius);
  transition: all var(--network-switch-dropdown-transition-duration) ease 0s;
  opacity: var(--network-switch-dropdown-opacity);
  transform: perspective(var(--network-switch-dropdown-transform-perspective)) rotateX(var(--network-switch-dropdown-transform-rotate-x));
  background-color: var(--network-switch-dropdown-background-color);
  gap: var(--network-switch-dropdown-gap);
  padding: 0 var(--network-switch-dropdown-horizontal-padding);
  padding-top: var(--network-switch-dropdown-top-padding);
  display: flex;
  flex-direction: column;
  position: absolute;
  transform-origin: top;
  overflow: hidden;
}

.network-switch-chains-wrapper {
  max-height: var(--network-switch-chains-wrapper-max-height);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: var(--network-switch-dropdown-background-color);
  gap: var(--network-switch-dropdown-gap);
}

.network-switch-dropdown::before {
  content: '';
  position: absolute;
  bottom: var(--network-switch-dropdown-before-bottom);
  left: 0;
  height: var(--network-switch-dropdown-before-height);
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--color-powder-blue) 100%);
}

.network-switch-dropdown::after {
  content: '';
  position: absolute;
  top: var(--network-switch-dropdown-after-top);
  left: 0;
  height: var(--network-switch-dropdown-after-height);
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--color-powder-blue) 100%);
}

.network-switch-dropdown-open {
  opacity: var(--network-switch-dropdown-opacity-open);
  transform: perspective(var(--network-switch-dropdown-transform-perspective)) rotateX(var(--network-switch-dropdown-transform-open-rotate-x));
  border-radius: 0 0 var(--network-switch-dropdown-border-radius) var(--network-switch-dropdown-border-radius);
  border-top: 0px solid var(--general-main-wrapper-border-color);
}

.network-switch-header {
  width: calc(var(--network-switch-header-width) - (2 * var(--network-switch-header-padding)));
  height: calc(var(--network-switch-header-height) - 2 * var(--network-switch-header-padding));
  gap: var(--network-switch-header-gap);
  border-radius: var(--network-switch-header-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  background-color: var(--network-switch-header-background-color);
  padding: var(--network-switch-header-padding);
  border: var(--network-switch-header-border-size) solid var(--general-main-wrapper-border-color);
  transition: all var(--picker-main-wrapper-transition-duration) ease-in-out 0s;
}

.network-switch-header-open {
  border-bottom: 0px solid var(--general-main-wrapper-border-color);
  border-radius: var(--network-switch-header-border-radius) var(--network-switch-header-border-radius) 0 0;
  background-color: var(--body-main-wrapper-background);
}

.network-switch-header-main {
  width: 100% !important;
  height: 100%;
}

.network-switch-header-chain-content-wrapper {
  height: 100%;
  justify-content: flex-start; 
  gap: var(--network-switch-header-chain-content-wrapper-gap);
}

.network-switch-main-numerical-values-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.network-switch-network-image-wrapper {
  height: var(--default-inner-image-content-height);
  aspect-ratio: 1/1;
  margin-right: var(--network-switch-network-image-wrapper-margin-right);
}

.network-unselected-image-wrapper {
  margin-right: 15px;
}

.network-switch-network-image-wrapper img {
  width: var(--default-inner-image-content-width);
  height: var(--default-inner-image-content-height);
}

.network-switch-network-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.network-switch-network-title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;  
}

.network-switch-network-symbol {
  font-size: var(--network-switch-network-symbol-font-size);
  font-weight: var(--network-switch-network-symbol-font-weight);
  color: var(--text-placeholder-color);
  margin-top: var(--network-switch-network-symbol-margin-top);
}

.network-switch-drowdown-toggle {
  transform-origin: center;
  transition: all var(--dropdown-icon-transition-duration) ease 0s; 
  color: var(--network-switch-network-title-color);
}

@media only screen and (max-width: 1200px) {
  :root {
    --network-switch-header-background-color: transparent;
    --network-switch-header-border-size: 0px;
    --network-switch-text-display: none;
    --network-switch-header-width: fit-content;
    --header-main-wrapper-gap: 0px;
    --network-switch-header-chain-content-wrapper-gap: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    --selected-range-font-size: 20px;
    --picker-content-wrapper-font-size: 20px;
    --calendar-left-wrapper-each-choice-font-size: 20px;
    --date-input-month-year-info-content-font-size: 20px;
    --day-width-font-size: 20px;
    --date-font-size: 20px;
    --each-calendar-action-button-font-size: 20px;
    --header-network-switch-wrapper-font-size: 20px;
    --network-switch-network-symbol-font-size: 20px;
    --validator-filter-input-font-size: 20px;
    --current-month-and-year-display-font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  :root {
    --date-range-width: 200px;
    --network-switch-dropdown-width: 260px;
  }
}

@media only screen and (max-width: 500px) {
  :root {

    --default-inner-image-content-height: 32px;
    --network-switch-header-height: 32px;

    --table-filters-subgroup-gap: 0px;
    --date-picker-height: 48px;
    --date-picker-display-initial: none;
  
    --selected-range-font-size: 16px;

    --calendar-left-wrapper-dropdown-li-padding: 4px;
  
    --calendar-left-wrapper-each-choice-font-size: 16px;
    --calendar-left-wrapper-each-choice-font-weight: 400;
  
    --calendar-wrapper-padding: 10px;
    --picker-main-wrapper-right: -50px;
  
    --date-input-month-year-info-content-font-size: 16px;
    --calendar-left-wrapper-width: 120px;
  
    --days-header-wrapper-horizontal-margin: -5px;
    --days-header-wrapper-horizontal-padding: 5px;
    --days-header-wrapper-gap: 5px;
  
    --date-font-size: 16px;
    --date-border-size: 4px;
    --date-padding: 0px;
    
    --date-range-width: 100px;

    --header-banner-wrapper-height: 13px;
    --banner-title-content-font-size: 20px;
    --banner-title-content-margin-top: -3px;

    --header-banner-wrapper-margin-left: calc(50% - (130px / 2));
  }
}


@media only screen and (max-width: 450px) {
  .picker-main-wrapper-open {
    border-radius: var(--picker-main-wrapper-border-radius);
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
    right: 0;
    width: 100% !important;
  }

  .selected-range-open {
    background-color: var(--header-main-background);
    border-bottom: 1px solid var(--general-main-wrapper-border-color);
    border-radius: var(--selected-range-border-radius);
  }

  :root {
    --date-picker-width: 300px;
  }
}
