
:root {
  --all-main-wrapper-width: 100%;
  --all-main-wrapper-background-color: rgb(247, 248, 255);
  --all-main-wrapper-border-radius: 0;
  --all-main-wrapper-margin-left: 0px;

  --all-main-wrapper-webkit-scrollbar-width: 8px;
  
  --all-main-wrapper-webkit-scrollbar-thumb-background: rgba(100, 100, 100, var(--scrollbar-opacity, 1));
  --all-main-wrapper-webkit-scrollbar-thumb-border-radius: 10px;
  --all-main-wrapper-webkit-scrollbar-thumb-transition-duration: 0.3s;
  --all-main-wrapper-webkit-scrollbar-thumb-letter-spacing: 1px;

  --body-wrapper-cell-border-radius: 20px;

  --default-inner-image-content-width: 100%;
  --default-inner-image-content-height: 100%;
  --default-inner-image-content-border-radius: 100%;

  --text-placeholder-color: rgba(168, 168, 168, 1);

  --header-main-wrapper-width: 100%;
  --header-main-wrapper-vertical-padding: 30px;
  --header-main-wrapper-horizontal-padding: 40px;
  --header-main-wrapper-gap: 16px;
  --header-main-wrapper-padding-bottom: 20px;
  --header-main-wrapper-border-bottom-size: 10px;
  --header-main-wrapper-border-bottom-gradient-from: rgba(246, 247, 255, 0) 1%;
  --header-main-wrapper-border-bottom-gradient-to: rgba(246, 247, 255, 1);
  --header-main-background: rgba(232, 232, 255, 1);
  
  --body-main-wrapper-background: rgba(245, 245, 255, 1);
  --general-main-wrapper-border-color: rgba(190, 190, 231, 1);
  --general-main-wrapper-border-size: 0.5px;

  --inner-main-wrapper-margin-top: 0px;
  --inner-main-wrapper-vertical-padding: 0px;
  --inner-main-wrapper-horizontal-padding: 40px;
  --inner-main-wrapper-header-margin-bottom: 10px;

  --inner-main-wrapper-title-font-size: 24px;
  --inner-main-wrapper-title-color: rgba(37, 0, 84, 1);

  --inner-main-wrapper-description-font-size: 16px;
  --inner-main-wrapper-description-color: rgba(73, 48, 111, 1); 

  --header-banner-wrapper-gap: 10px;
  --header-banner-wrapper-height: 28px;
  --header-banner-wrapper-margin-bottom: 10px;

  --banner-title-content-color: rgba(37, 0, 84, 1);
  --banner-title-content-font-size: 42px;
  --banner-title-content-font-weight: 700;
  --banner-title-content-margin-top: -8px;
  --banner-logo-wrapper-height: 100%;

  --each-section-title-content-font-size: 16px;
  --each-section-title-content-font-weight: 500;
  --each-section-title-content-color: rgba(124, 112, 195, 1);
}

.all-main-wrapper {
  width: calc(var(--all-main-wrapper-width) - var(--navbar-width));
  transition: all var(--navbar-toggle-transition-duration) linear 0s;
  height: 100vh;
  background-color: var(--all-main-wrapper-background-color);
  position: relative;
  border-radius: var(--all-main-wrapper-border-radius);
  margin-left: var(--all-main-wrapper-margin-left);
}

.inner-main-wrapper::-webkit-scrollbar {
  width: var(--all-main-wrapper-webkit-scrollbar-width);
}

.inner-main-wrapper::-webkit-scrollbar-thumb {
  background: var(--all-main-wrapper-webkit-scrollbar-thumb-background);
  border-radius: var(--all-main-wrapper-webkit-scrollbar-thumb-border-radius);
  transition: background var(--all-main-wrapper-webkit-scrollbar-thumb-transition-duration) ease-in-out;
  letter-spacing: var(--all-main-wrapper-webkit-scrollbar-thumb-letter-spacing);
}

.inner-main-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.header-main-wrapper {
  width: calc(var(--header-main-wrapper-width) - (var(--header-main-wrapper-horizontal-padding) * 2) - 8px);
  padding: var(--header-main-wrapper-vertical-padding) var(--header-main-wrapper-horizontal-padding);
  padding-bottom: var(--header-main-wrapper-padding-bottom);
  border-bottom: var(--header-main-wrapper-border-bottom-size) solid var(--header-main-wrapper-border-bottom-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  gap: var(--header-main-wrapper-gap);
}

.header-main-wrapper::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: var(--header-main-wrapper-border-bottom-size);
  background: var(--header-main-wrapper-border-bottom-gradient-from);
  background: linear-gradient(0deg,var(--header-main-wrapper-border-bottom-gradient-from) 1%, var(--header-main-wrapper-border-bottom-gradient-to) 100%);
  z-index: 10;
}

.inner-main-wrapper {
  height: 100%;
  padding: var(--inner-main-wrapper-vertical-padding) var(--inner-main-wrapper-horizontal-padding);
  margin-top: var(--inner-main-wrapper-margin-top);
  overflow-y: scroll;
}

.inner-main-wrapper-header {
  margin-bottom: var(--inner-main-wrapper-header-margin-bottom);
}

.inner-main-wrapper-title {
  font-size: var(--inner-main-wrapper-title-font-size);
  color: var(--inner-main-wrapper-title-color);
}
.inner-main-wrapper-description {
  font-size: var(--inner-main-wrapper-description-font-size);
  color: var(--inner-main-wrapper-description-color);
}

.body-wrapper-cell {
  border: var(--general-main-wrapper-border-size) solid var(--general-main-wrapper-border-color);
  background-color: var(--body-main-wrapper-background);
  border-radius: var(--body-wrapper-cell-border-radius);
}

.section-hidden {
  display: none !important;
}

.info-parapgraph-main-wrapper p {
  font-size: 18px;
}

/* @media only screen and (max-width: 1000px) {
  :root {
    --all-main-wrapper-margin-left: 74px;
  }
} */

@media only screen and (max-width: 750px) {
  :root {
    --all-main-wrapper-webkit-scrollbar-width: 2px;
    --all-main-wrapper-border-radius: 0;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --all-main-wrapper-webkit-scrollbar-width: 2px;
    --all-main-wrapper-border-radius: 0;
  }
}
