
.header-main-wrapper {
  width: calc(100% - 144px);
  padding: 12px 72px;
  background-color: var(--color-powder-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-main-wrapper {
  margin: 0px 72px;
}

.query-main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-powder-blue);
}

.query-main-wrapper-input-wrapper {
  display: flex;
  gap: 20px;
}

.query-timestamp-input {
  opacity: 0;
  display: none;
}

.each-table-header-title {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.each-table-popup-info-content {
  background-color: var(--color-table-header-popup);
  border-radius: 6px;
  font-weight: 400;
  position: absolute;
  text-wrap: nowrap;
  width: fit-content;
  height: 24px;
  width: 108px;
  font-size: 10px;
  left: -46px;
  bottom: calc(105%);
  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.25s ease 0s;
  cursor: var(--pointer-default-dark);
}

.each-table-popup-info-content-hover {
  transform: translateY(0px);
  opacity: 1;
}

.each-table-popup-info-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--color-table-header-popup);
  position: absolute;
  top: 100%;
  left: calc(50% - 10px);
}

.each-table-popup-wrapper {
  position: relative;
}

.date-picker {
  position: relative;
  width: fit-content;
  z-index: 10;
  height: 48px;
  overflow: visible;
}

.selected-range {
  display: flex;
  width: fit-content;
  gap: 20px;
  justify-content: space-between;
  padding: 5px;
  cursor: var(--pointer-hand-dark);
  align-items: center;
  font-size: 16px;
}

.date-interval-description {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.picker-main-wrapper {
  background: var(--color-dropdown-background);
  box-shadow: 0px 16px 32px 0px rgba(23, 37, 76, 0.12);
  transition: all 0.25s ease 0s;
  transform: perspective(1000px) rotateX(-90deg);
  transform-origin: top;
  opacity: 0;
  right: 0;
  top: 48px;
  position: absolute;
}

.picker-content-wrapper {
  display: flex;
  margin-top: 5px;
  overflow: hidden;
  font-size: 14px;
}

.left-wrapper {
  padding: 5px;
}

.left-wrapper-each-choice {
  font-size: 16px;
  font-weight: 400;
  text-wrap: nowrap;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 8px;
  cursor: var(--pointer-hand-dark);
  transition: all 0.25s ease-in-out 0s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown li:hover {
  background: #f0f0f0;
}

.selected {
  font-weight: 600;
}

.calendar-wrapper {
  padding: 10px;
}

.date-input-month-year-info-content {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.date-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.date-input input {
  width: 45%;
  padding: 5px;
}

.days-header-wrapper {
  margin: 10px -10px;
  padding: 5px 10px;
  gap: 5px;
}

.days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day {
  font-weight: 400;
  font-size: 16px;
}

.date {
  border: 4px solid transparent;
  padding: 4px;
  cursor: var(--pointer-hand-dark);
  aspect-ratio: 1/1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.date:hover {
  background: #ddd;
}

.selected-date-bottom, .selected-date-top {
  border: 4px solid var(--color-middle-date-background);
  background-color: var(--color-selected-date-background);
}

.selected-date-bottom {
  border-radius: 20px 0 0 20px;
}

.selected-date-top {
  border-radius: 0px 20px 20px 0px;
}

.selected-date-bottom:hover, .selected-date-top:hover {
  background-color: var(--color-selected-date-background);
}

.middle-date {
  background-color: var(--color-middle-date-background);
}

.middle-date:hover {
  background-color: var(--color-middle-date-background) !important;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px 10px 0px;
  gap: 10px;
  font-size: 14px;
}

.reset, .apply {
  padding: 10px 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: var(--pointer-hand-dark);
}

.apply {
  background: var(--color-dark-violet);
  display: flex;
  align-items: center;
  gap: 10px;
}

td {
  padding: 10px;
  position: relative;
}

.validators-main-wrapper {
  padding: 10px 20px;
}

.each-validator-wrapper {
  height: 40px;
  gap: 20px;
  padding: 5px 10px;
  margin: 10px 0;
  transition: all 0.25s ease 0s;
}

.validator-image {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 100%;
  position: relative;
}

.validator-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.validator-operator-address {
  font-size: 16px;
}

.validator-moniker {
  font-size: 20px;
  font-weight: 500;
}

.validator-each-numeric-info {
  font-size: 20px;
}

.month-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.each-month-wrapper {
  flex: 0 0 100%;
  width: 100% !important;
}

.each-table-header-wrapper {
  gap: 10px;
  align-items: center;
  cursor: var(--pointer-hand-dark);
  display: flex;
}

.each-table-header-sort-indicators {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  margin-bottom: -4px;
}

.table-filters {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-middle-date-background);
}

.export-main-wrapper {
  height: 48px;
  position: relative;
}

.export-wrapper-header {
  padding: 15px;
  cursor: var(--pointer-hand-dark);
  font-size: 16px;
  gap: 20px;
}

.export-wrapper-content {
  width: 120px;
  background-color: var(--color-dropdown-background);
  box-shadow: 0px 16px 32px 0px rgba(23, 37, 76, 0.12);
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.25s ease 0s;
  transform-origin: top;
  transform: perspective(1000px) rotateX(-90deg);
  opacity: 0;
  position: absolute;
  right: 0;
  top: 48px;
  z-index: 20;
}

.each-export-choice {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: var(--pointer-hand-dark);
  transition: all 0.25s ease 0s;
}

.each-export-choice:hover {
  background-color: #f0f0f0;
}

.export-choice-selected {
  font-weight: 600;
}

.export-choice-download-button {
  padding: 5px;
  background-color: var(--color-dark-violet);
  font-size: 16px;
  gap: 10px;
  cursor: var(--pointer-hand-dark);
}

.dropdown-icon {
  transition: all 0.25s ease 0s;
  transform-origin: center;
}

.header-network-switch-wrapper {
  font-size: 20px;
  font-weight: 600;
  cursor: var(--pointer-hand-dark);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.network-switch-dropdown::-webkit-scrollbar, .validator-filter-input-result-wrapper::-webkit-scrollbar {
  width: 5px;
}

.network-switch-dropdown::-webkit-scrollbar-track, .validator-filter-input-result-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.network-switch-dropdown::-webkit-scrollbar-thumb, .validator-filter-input-result-wrapper::-webkit-scrollbar-thumb {
  background: var(--color-network-switch);
  border-radius: 5px;
}

.network-switch-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 20;
  width: fit-content;
  height: 200px;
  overflow-y: scroll;
  background-color: black;
  background-color: var(--color-network-switch-dropdown-background);
  border: 2px solid var(--color-network-switch);
  border-radius: 10px;
  transition: all 0.25s ease 0s;
  transform-origin: top;
  opacity: 0;
  transform: perspective(1000px) rotateX(-90deg);
}

.network-switch-dropdown-open {
  opacity: 1;
  transform: perspective(1000px) rotateX(0deg);
}

.network-switch-header {
  background-color: var(--color-network-switch);
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  gap: 10px;
  border-radius: 50px;
}

.network-switch-network-image-wrapper {
  height: 100%;
  aspect-ratio: 1/1;
}

.network-switch-network-image-wrapper img {
  width: 100%;
  height: 100%;
}

.network-switch-network-info-wrapper {
  display: flex;
  flex-direction: column;
}

.network-switch-network-chain-id {
  font-size: 16px;
  font-weight: 400;
}

.validator-filter-input-wrapper {
  position: relative;
}

.validator-filter-input-result-wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  width: 250px;
  height: 120px;
  z-index: 30;
  background-color: var(--color-network-switch-dropdown-background);
  border: 2px solid var(--color-network-switch);
  overflow-y: scroll;
  transform-origin: top;
  transition: all 0.25s ease 0s;
  opacity: 0;
  padding: 0;
  transform: perspective(1000px) rotateX(-90deg);
  border-radius: 10px;
}

.validator-filter-input-result-wrapper-open {
  opacity: 1;
  transform: perspective(1000px) rotateX(0deg);
}

.validator-filter-input-content-wrapper {
  display: flex;
  align-items: center;
}

.validator-dropdown-icon {
  opacity: 0.5;
  transition: all 0.25s ease 0s;
  transform-origin: center;
}

.validator-filter-input {
  border: 0;
  background: transparent;
  font-size: 16px;
}

.each-pre-input-animation-ball {
  width: 30px;
  border-radius: 100%;
  height: 30px;
  background-color: var(--color-selected-date-background);
  transition: all 0.25s ease 0s;
}
