
@media only screen and (max-width: 1200px) {
  :root {
    --each-validator-wrapper-gap: 50px;
    --validator-table-header-gap: 50px;
  }
  .validator-operator-address:hover .dots {
    max-width: fit-content;
    opacity: 1;
  }
  
  .validator-operator-address:hover .middle-address {
    max-width: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    --each-validator-wrapper-gap: 30px;
    --validator-table-header-gap: 30px;
  }
}

@media only screen and (max-width: 900px) {
  :root {
    --each-validator-wrapper-gap: 10px;
    --validator-table-header-gap: 10px;

    --banner-title-content-font-size: 20px;
    --each-table-header-title-font-size: 20px;
    --each-table-popup-info-content-font-size: 14px;
    --selected-range-font-size: 14px;
    --picker-content-wrapper-font-size: 14px;
    --calendar-left-wrapper-each-choice-font-size: 14px;
    --date-input-month-year-info-content-font-size: 14px;
    --day-width-font-size: 14px;
    --date-font-size: 14px;
    --each-calendar-action-button-font-size: 14px;
    --ranking-number-content-font-size: 14px;
    --validator-operator-address-font-size: 14px;
    --validator-moniker-font-size: 16px;
    --inactivity-display-content-font-size: 14px;
    --validator-each-numeric-info-font-size: 16px;
    --export-wrapper-header-font-size: 14px;
    --export-wrapper-content-font-size: 14px;
    --export-choice-download-button-font-size: 14px;
    --header-network-switch-wrapper-font-size: 16px;
    --network-switch-network-symbol-font-size: 14px;
    --validator-filter-input-font-size: 14px;
    --current-month-and-year-display-font-size: 16px;

    --footer-main-title-font-size: 42px;
    --footer-socials-wrapper-gap: 36px;
    
    --footer-main-wrapper-vertical-padding: 30px;
    --footer-main-wrapper-gap: 14px;
    --each-social-icon-size: 24px;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --each-validator-wrapper-gap: 0px;
    --validator-table-header-gap: 0px;
    --footer-main-title-font-size: 36px;
  }
}

@media only screen and (max-width: 500px) {
  :root {

    --default-inner-image-content-height: 32px;
    --network-switch-header-height: 32px;

    --date-picker-z-index: 10;
    --date-picker-height: 48px;
  
    --selected-range-font-size: 14px;

    --calendar-left-wrapper-dropdown-li-padding: 4px;
  
    --calendar-left-wrapper-each-choice-font-size: 14px;
    --calendar-left-wrapper-each-choice-font-weight: 400;
  
    --calendar-wrapper-padding: 10px;
    --picker-main-wrapper-right: -50px;
  
    --date-input-month-year-info-content-font-size: 14px;
    --calendar-left-wrapper-width: 120px;
  
    --days-header-wrapper-horizontal-margin: -5px;
    --days-header-wrapper-horizontal-padding: 5px;
    --days-header-wrapper-gap: 5px;
  
    --date-font-size: 14px;
    --date-border-size: 4px;
    --date-padding: 0px;

    --footer-main-title-font-size: 32px;
    --each-social-icon-size: 20px;
  }
}