
@media only screen and (max-width: 500px) {
  .export-header-main-title {
    display: none;
  }

  .date {
    border: 0.125rem solid transparent;
    padding: 0.125rem;
  }

  .selected-date-bottom, .selected-date-top {
    border: 0.125rem solid var(--color-middle-date-background);
  }

  .dropdown li {
    padding: 4px;
  }

  .validator-each-numeric-info {
    width: 150px;
  }

  .each-validator-wrapper {
    padding-left: 150px;
  }

  .each-validator-info-wrapper {
    overflow: hidden;
    position: absolute;
    border-right: 2px solid var(--color-triangle-unselected);
  }

  .each-validator-info-wrapper:hover {
    width: 100%;
  }
}
